<!DOCTYPE html>
<html lang="en">
<html>
  <head>
    <title>Rapollo</title>

    <!-- /*<style type="text/css">
      @font-face {
        font-family: "FontAwesome";
        src: url('<%= asset_path("fontawesome-webfont.eot") %>');
        src: url('<%= asset_path("fontawesome-webfont.eot") + "?#iefix" %>') format('eot'),
             url('<%= asset_path("fontawesome-webfont.woff") %>') format('woff'),
             url('<%= asset_path("fontawesome-webfont.ttf") %>') format('truetype'),
             url('<%= asset_path("fontawesome-webfont.svg") + "#FontAwesome" %>') format('svg');
        font-weight: normal;
        font-style: normal;
      }
    </style>*/ -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="assets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="assets/stylish-portfolio.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="assets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>


  </body>
</html>
